body{
    margin: 0;
    text-align: center;
    color: #40514E;
}


h1{
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
    margin: 50px auto 50px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}


hr{
    border: #9ea1a1 dotted 6px;
    border-bottom-style: none;
    width: 4%;
    margin: 100px auto;
    background-color: white;
}
.top{
    background-color: #A5F1E9;
    position: relative;
    padding-top: 100px;
}

.cloud_1{
    position: absolute;
    right: 200px;
    top: 25px;

}

.cloud_2{
    position: absolute;
    bottom: 300px;
    left: 200px;
}

.mountain{
    position: relative;
}

.middle{
    position: relative;
}

.bottom{
    position: relative;
    height: 300px;
}

.profile_pic{
    position: relative;

    top: 30px;
    /*left: 600px;*/
    height: 150px;
    width: 150px; 
    border-radius: 100%;
}

.skills{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.gamedev_pic{
    height: 150px;
    width: 150px;
    float: left;
    margin-right: 30px;
}

.prog_pic{
    height: 150px;
    width: 150px;
    float: right;
    margin-left: 30px;
}

p{
    margin: 5px;
    font-size: 1.25rem;
    
}

.links{
    padding-top: 25px;
    background-color: #66BFBF;
    height: 100px;
    position: relative;
    top: 100px;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 10px;
    border-color: white;
    position: relative;
    top: 50px;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.copyright{
    color: #EAF6F6;
    font-family: 'Montserrat', sans-serif;
}

a{
    color: #11999E;
    margin-right: 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

a:hover{
    color: antiquewhite;
}